<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.northbund.vblog.mapper.SignInRecordMapper">

	<!-- select  ##################################################################### -->

	<select id="findAllByParam" resultType="com.northbund.vblog.pojo.vo.SignInRecordResult">
		SELECT * FROM `sign_in_record`
		<include refid="where"></include>
	</select>

	<insert id="insert" parameterType="com.northbund.vblog.pojo.entity.SignInRecord" keyProperty="id" useGeneratedKeys= "true">
		insert into sign_in_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!= null">
				id,
			</if>
			<if test="userId!= null ">
				user_id,
			</if>
			<if test="signInDate!= null ">
				sign_in_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id!= null">
				#{id},
			</if>
			<if test="userId!= null ">
				#{userId},
			</if>
			<if test="signInDate!= null ">
				#{signInDate},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.northbund.vblog.pojo.entity.SignInRecord" >
		UPDATE sign_in_record
		<trim prefix="set" suffixOverrides=",">
			<if test="userId!=null ">user_id=#{userId},</if>
			<if test="signInDate!=null ">sign_in_date=#{signInDate},</if>
		</trim>
		WHERE id=#{id}
	</update>

	<delete id="delete">
		delete from `sign_in_record` WHERE id = #{id}
	</delete>

	<sql id="where">
		<where>
			1=1
			<if test="id != null ">
				and id = #{id}
			</if>
			<if test="userId != null ">
				AND user_id = #{userId}
			</if>
			<if test="signInDate != null ">
				AND sign_in_date = #{signInDate}
			</if>
			<if test="startSignInDate != null ">
				AND sign_in_date between #{startSignInDate} and #{endSignInDate}
			</if>
		</where>
	</sql>


</mapper>

